In [ ]:
# Builtins

# Primeiros Exemplos

In [1]:
print('primeiro programa')

primeiro programa

# Tipos Básicos

In [1]:
print(type(True))
print(type(False))
print(type(1.2 + 1))
print(type('Aqui eu falo na minha lingua'))
print(type('Você é ' + 3 * 'muito ' + 'legal!'))
print(type([1, 2, 3]))
print(type({'nome': 'Ezequiel', 'idade': 27}))
print(type(None))

<class 'bool'>
<class 'bool'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'NoneType'>

# Operadores Aritméticos

In [4]:
print(2 + 3)
print(4 - 7)
print(2 * 5.3)
print(9.4 / 3)
print(9.4 // 3)
print(2 ** 8)
print(10 % 3)

5
-3
10.6
3.1333333333333333
3.0
256
1

In [9]:
# Minhas despesas
salario = 3450.45
despesas = 2456.2

valor_percentual_despesas = salario * despesas / 100

# Operadores Relacionais

In [17]:
3 > 4
4 >= 3
1 < 2
3 <= 1
3 != 2
3 == 3
2 == '2'

False

# Operadores de Atribuição

In [1]:
a = 3
a = a + 7
print(a)

# a = 5
a += 5 # a = a + 5
print(a)

a -= 3
print(a)

a *= 2
print(a)

a /= 4
print(a)

a %= 4
print(a)

a **= 8
print(a)

a //= 256
print(a)

10
15
12
24
6.0
2.0
256.0
1.0

# Operadores Lógicos

In [25]:
True or False
7 != 3 and 2 > 3

# Tabela verdade do AND
True and True
True and False
False and True
False and False

# Tabela verdade do OR
True or True
True or False
False or True
False or False

# Tabela verdade do XOR
True != True
True != False
False != True
False != False

# Operador de Negação (unário)
not True
not False

not 0
not 1

# Cuidado!
True & False
False | True
True ^ False

# AND Bit-a-bit
# 3 = 11
# 2 = 10
# _ = 10
3 & 2

# OR Bit-a-bit
# 3 = 11
# 2 = 10
# _ = 11
3 | 2

# XOR Bit-a-bit
# 3 = 11
# 2 = 10
# _ = 01
3 ^ 2

1

In [55]:
# Desafio Operadores Lógicos

# Os Trabalhos
trabalho_terca = False
trabalho_quinta = False

"""
- Confirmando os 2: TV 50' + Sorvete
- Confirmando apenas 1: TV 32' + Sorvete
- Nenhum confirmado: Fica em casa
"""
# Primeiro caso
comprar_tv50 = trabalho_terca and trabalho_quinta
# Segundo caso
comprar_tv32 = trabalho_terca or trabalho_quinta
# Terceiro caso
sem_trabalhar = not trabalho_terca and not trabalho_quinta

print('comprar_tv50={} comprar_tv32={} sem_trabalhar={}'
      .format(comprar_tv50, comprar_tv32, sem_trabalhar))


# if(comprar_tv50):
#     print('Vamos comprar tv 50" e tomar sorvete ')
# elif(comprar_tv32):
#     print('Vamos comprar a tv 32" e tomar sorvete')
# else:
#     print('Ficar em casa')

comprar_tv50=False comprar_tv32=False sem_trabalhar=True

# Operadores Unários

In [13]:
a = 3
# a++
# a += 1
# a
# a--
++a
++a
-a
+a

not 0
not 1
not -2
not False
not not True

True

# Operadores Ternários

In [15]:
esta_chovendo = True

'Hoje estou com as roupas ' + ('secas.', 'molhadas.')[esta_chovendo]
'HOje estou com as roupas ' + ('molhadas.' if esta_chovendo else 'secas.')

'HOje estou com as roupas molhadas.'

# Mais Operadores

In [1]:
# Operador de Membro
Lista = [1, 2, 3, 'Ana', 'Carla']
2 not in Lista

# Operador de Identidade
x = 3
y = x
z = 3
x is y
y is z
x is not z


lista_a = [1, 2, 3]
lista_b =  lista_a
lista_c = [1, 2, 3]

lista_a is lista_b
lista_b is lista_c
lista_a is not lista_c

True

In [11]:
# type()
type(1)
__builtins__.type('Fala galera!')
__builtins__.print(10 / 3)

# __builtins__.help(__builtins__.dir)

# a = 7
# import math
# dir()
# dir(__builtins__)

nome = 'João da Silva'
type(nome)
__builtins__.len(nome)

3.3333333333333335

13

# Conversão de Tipos

In [19]:
2 + 3
'2' + '3'
# 2 + '3'

a = 3
b = '2'

print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

type(str(a))

<class 'int'>
<class 'str'>
5
32

str

# Coerção Automática

In [23]:
# Toda operação de divisão, mesmo sendo números inteiros, o resultado será sempre Float

10 / 2
type(10 / 2)

type(1 + 2)
type(1 + 2.5)

float

# Tipos Numéricos

In [42]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b
a + b
a * b

type(a)
type(b)
type(a - b)

b.is_integer()
5.0.is_integer()

dir(int)
int.__add__(2, 3)
2 + 3

(-2).__abs__()
abs(-2)

(-3.6).__abs__()
abs(-3.6)

3.6

In [49]:
# 1.1 + 2.2
from decimal import Decimal, getcontext
Decimal(1) / Decimal(7)

getcontext().prec = 4
Decimal(1) / Decimal(7)
Decimal.max(Decimal(1), Decimal(7))

1.1 + 2.2
getcontext().prec = 10
Decimal(1.1) + Decimal(2.2)

Decimal('3.300000000')

# Tipo String

In [2]:
dir(str)
nome = 'Saulo Pedro'
nome
nome[0]
# nome[0] = 'P' --> O tipo String é imutável

# 'marca d'água'
"Dias D'Avila" == 'Dias D\'Avila'

doc = """Texto com múltiplas
    ... linhas"""
doc
print('Texto com múltiplas\n\t... linhas')
print(doc)

Texto com múltiplas
	... linhas
Texto com múltiplas
    ... linhas

In [21]:
nome = 'Ana Paula'
nome[0]
nome[6]
nome[-3]
nome[4:]
nome[-5:]
nome[:3]
nome[2:5]

numeros = '1234567890'
numeros
numeros[::] # É a mesma coisa do de cima
numeros[::2]
numeros[1::2]
numeros[::-1]
numeros[::-2]

nome[::-1]

'aluaP anA'

In [1]:
frase = 'Python é uma linguagem excelente'
'py' not in frase
'ing' in frase
len(frase)
frase.lower()
frase.upper()

frase.split()

['Python', 'é', 'uma', 'linguagem', 'excelente']

In [6]:
a = '123'
b = ' de Oliveira 4'
a + b
a.__add__(b)
str.__add__(a, b)

'123 de Oliveira 4'

# Listas

In [24]:
lista = []
type(lista)
# dir(lista)

len(lista)
lista.append(1)
lista.append(5)
lista
len(lista)

nova_lista = [1, 5, 'Ana', 'Bia']
nova_lista
nova_lista.remove(5)
nova_lista
nova_lista.reverse()
nova_lista

['Bia', 'Ana', 1]

In [11]:
lista = [1, 5, 'Rebeca', 'Guilherme', 3.1415]
lista.index('Guilherme')
lista[2]
1 in lista
'Rebeca' in lista
'Pedro' not in lista
lista[0]
lista[4]
lista[-1]
lista[-5]

1

In [27]:
lista = ['Ana', 'Lia', 'Rui', 'Paulo', 'Dani']
lista[1:3]
lista[1:-1]
lista[1:]
lista[:-1]
lista[:]
lista[::2]
lista[::-1]
del lista[2]
lista
del lista[1:]
lista

['Ana']

# Tupla

In [47]:
tupla = tuple()
tupla = ()
type(tupla)
dir(tupla)
tupla = ('um')
type(tupla)
tupla = ('um',)
type(tupla)
tupla[0]

cores = ('verde', 'amarelo', 'azul', 'branco')
cores[0]
cores[-1]
cores[1:]

cores.index('amarelo')
cores.count('Azul')
len(cores)

4

# Dicionário

In [1]:
pessoa = {'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['Inglês', 'Português']}
type(pessoa)
len(pessoa)

pessoa
pessoa['nome']
pessoa['idade']
pessoa['cursos']
pessoa['cursos'][1]
pessoa.keys()
pessoa.values()
pessoa.items()
pessoa.get('idade')

38

In [26]:
pessoa = {'nome': 'Prof. Alberto', 'idade': 43, 'cursos': ['React', 'Python']}
pessoa['idade'] = 44
pessoa['cursos'].append('Angular')
pessoa
pessoa.pop('idade')
pessoa
pessoa.update({'idade': 40, 'Sexo': 'M'})
pessoa
del pessoa['cursos']
pessoa
pessoa.clear()
pessoa

{}

# Conjunto

In [1]:
a = {1, 2, 3}
type(a)
# a[0]
a = set('cod3r')
print(a)
print('3' in a, 4 not in a)
{1, 2, 3} == {3, 2, 1, 3}

# operações
c1 = {1, 2}
c2 = {2, 3}
c1.union(c2)
c1.intersection(c2)
c1.update(c2)
c1
c2 <= c1
c1 >= c2

{1, 2, 3} - {2}
c1 - c2
c1 -= {2}
c1

{'o', 'r', '3', 'd', 'c'}
True True

{1, 3}

# Interpolação

In [8]:
from string import Template
nome, idade = 'Ana', 30

print('Nome: %s Idade: %d' % (nome, idade)) # mais antiga
print('Nome: {0} Idade: {1}'.format(nome, idade)) # python < 3.6
print(f'Nome: {nome} Idade: {idade}') # python > 3.6

s = Template('Nome: $nome Idade: $idade')
print(s.substitute(nome=nome, idade=idade))

Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30